body{
	display: flex;
	width: 620px;
	
}
#group{
height: 10px;
width: 750px;
display: flex;
justify-content: center;
margin-top: -13px;
position: absolute;
}
#group p{
	border-top: darkred solid 3px;
	width: 75px;
}
.week{
	margin-top: 30px;
}
.fPartWeek{
	height: 1000px;
	display: flex;
	padding-right: 200px;
	flex-direction: column;
}
.lPartWeek{
	height: 1000px;
	display: flex;
	margin-left: 20px;
	flex-direction: column;
}

#monday {
  padding-right: 10px;
  padding-left: 10px;
  width: 340px;
	height: 300px;
  display: flex;
  flex-direction: column;
  border: darkred solid 3px;
  border-radius: 3px;
}
#tuesday {
  padding-right: 10px;
  padding-left: 10px;
  width: 340px;
	height: 300px;
	margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: darkred solid 3px;
  border-radius: 3px;
}
#wensday {
  padding-right: 10px;
  padding-left: 10px;
  width: 340px;
	height: 300px;
	margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: darkred solid 3px;
  border-radius: 3px;
}
#thursday {
  padding-right: 10px;
  padding-left: 10px;
  width: 340px;
	height: 300px;
  display: flex;
  flex-direction: column;
  border: darkred solid 3px;
  border-radius: 3px;
}
#friday {
  padding-right: 10px;
  padding-left: 10px;
	margin-top: 20px;
  width: 340px;
	height: 300px;
  display: flex;
  flex-direction: column;
  border: darkred solid 3px;
  border-radius: 3px;
}
#saturday {
  padding-right: 10px;
  padding-left: 10px;
	margin-top: 20px;
  width: 340px;
	height: 300px;
  display: flex;
  flex-direction: column;
  border: darkred solid 3px;
  border-radius: 3px;
}
.p {
  margin-top: 20px;
  display: flex;
  height: 35px;
  width: inherit;
  border-bottom: darkred solid 2px;
}

.lp {
  border-bottom: none;
}

#m_n1,#m_n2,#m_n3,#m_n4,#m_n5,#m_n6 {
  margin-left: 10px;
  height: 10px;
}
#t_n1,#t_n2,#t_n3,#t_n4,#t_n5,#t_n6 {
  margin-left: 10px;
  height: 10px;
}
#w_n1,#w_n2,#w_n3,#w_n4,#w_n5,#w_n6 {
  margin-left: 10px;
  height: 10px;
}
#th_n1,#th_n2,#th_n3,#th_n4,#th_n5,#th_n6 {
  margin-left: 10px;
  height: 10px;
}

.p .tch {
  width: inherit;
  display: flex;
  margin-left: -10px;
  justify-content: flex-end;
}
#monday::before{
	content: '  Понедельник';
	border-bottom: darkred solid 2px;
	padding-right: 0px;
  padding-left: 0px;
	width: 360px;
	white-space: pre;
	margin-left: -10px;
	-webkit-margin-collapse: collapse;
}
#tuesday::before{
	content: '  Вторник';
	border-bottom: darkred solid 2px;
	padding-right: 0px;
  padding-left: 0px;
	width: 360px;
	white-space: pre;
	margin-left: -10px;
	-webkit-margin-collapse: collapse;
}
#wensday::before{
	content: '  Среда';
	border-bottom: darkred solid 2px;
	padding-right: 0px;
  padding-left: 0px;
	width: 360px;
	white-space: pre;
	margin-left: -10px;
	-webkit-margin-collapse: collapse;
}
#thursday::before{
	content: '  Четверг';
	border-bottom: darkred solid 2px;
	padding-right: 0px;
  padding-left: 0px;
	width: 360px;
	white-space: pre;
	margin-left: -10px;
	-webkit-margin-collapse: collapse;
}
#friday::before{
	content: '  Пятница';
	border-bottom: darkred solid 2px;
	padding-right: 0px;
  padding-left: 0px;
	width: 360px;
	white-space: pre;
	margin-left: -10px;
	-webkit-margin-collapse: collapse;
}
#saturday::before{
	content: '  Суббота';
	border-bottom: darkred solid 2px;
	padding-right: 0px;
  padding-left: 0px;
	width: 360px;
	white-space: pre;
	margin-left: -10px;
	-webkit-margin-collapse: collapse;
}
